@model Moment.Models.EntityDto.UserInfoDto
<div>
    <form class="m-4" enctype="multipart/form-data" asp-controller="Admin" asp-action="CompleteRegister">
        <div class="px-4 pt-4 pb-2 bg-light">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>

            <div class="col form-group">
                <label asp-for="ProfilePicture" class="form-label"></label>
                <input class="form-control" type="file" asp-for="ProfilePicture"
                    onchange="readImg(this,'Background-Preview')" accept=".jpg,.jpeg,.png,.gif,.jfif">
                <img id="Background-Preview" src="" alt="" srcset="">
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-3 form-group">
                    <label asp-for="ZipCodeAddress" class="form-label"></label>
                    <input asp-for="ZipCodeAddress" class="form-control cep"></input>
                    <span asp-validation-for="ZipCodeAddress" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="StreetAddress" class="form-label"></label>
                    <input asp-for="StreetAddress" class="form-control"></input>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="col-2 form-group">
                    <label asp-for="NumberAddress" class="form-label"></label>
                    <input asp-for="NumberAddress" class="form-control"></input>
                    <span asp-validation-for="NumberAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <label asp-for="DistrictAddress" class="form-label"></label>
                    <input asp-for="DistrictAddress" class="form-control"></input>
                    <span asp-validation-for="DistrictAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="CityAddress" class="form-label"></label>
                    <input asp-for="CityAddress" class="form-control"></input>
                    <span asp-validation-for="CityAddress" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="StateAddress" class="form-label"></label>
                    <input asp-for="StateAddress" class="form-control"></input>
                    <span asp-validation-for="StateAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ComplementAddress" class="form-label"></label>
                <input asp-for="ComplementAddress" class="form-control"></input>
                <span asp-validation-for="ComplementAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="form-label"></label>
                <input asp-for="CPF" class="form-control"></input>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CNPJ" class="form-label"></label>
                <input asp-for="CNPJ" class="form-control"></input>
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
        </div>

        <input class="col-10 btn btn-primary btn-lg btn-block w-100 rounded-0" type="submit" value="Criar Evento">

    </form>
</div>

<div class="modal fade" id="loading-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content col-1 border-0 p-3 modal-dialog-centered">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.js"></script>
    <script src="~/js/cpf_cnpj_cep_validator.js"></script>
}