@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Moment.Data.ApplicationDbContext DbContext

@{
    var ImgUser = "";

    var userId = UserManager.GetUserId(User);
    var user = DbContext.UserInfos.FirstOrDefault(info => info.IdUser == userId);

    if(user != null && !String.IsNullOrEmpty(user.ProfilePicture))
        ImgUser = user.ProfilePicture;
    else 
        ImgUser =  $"https://icotar.com/avatar/{User.Identity?.Name!}.png?s=50";
}

<ul class="navbar-nav align-items-center gap-2">
    @if (ViewBag.Title != "Seja Produtor" &&( user != null && !user.Promoter))
    {
        
        <li class="nav-item"><a class="nav-link text-light" asp-controller="Event" asp-action="BecomeAProducer">Seja
                Produtor</a></li>
    }else if(user != null && user.Promoter){
        <li class="nav-item"><a class="nav-link text-primary" asp-controller="Event" asp-action="CreateEvent">Criar Evento</a></li>
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item m-0 p-0">
            <a class="text-light" asp-controller="UserManager" asp-action="Index" title="Manage">
                <img class="img-avatar img-fluid" src="@ImgUser" alt="Conta Usuario"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                Sair
            </a>
        </li>
    }
    else
    {
        @if (ViewBag.Title != "Criar Conta" && ViewBag.Title != "Login")
        {
            <li class="nav-item">
                <a class="btn btn-black" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-white fw-normal" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
        }
    }
</ul>
