<div class="search-container">
    <span class="search-container-title">Pesquise mais</span>

    <div id="SearchForm">
        <div class="input-group">
            <input id="texto" type="text" class="form-control" placeholder="Ex. 'Festa do Peão'" aria-label="Username">
            <button class="btn btn-primary" onclick="searchEvent()"><i class="bi bi-search"></i></button>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-1 mt-1">
            <input class="form-control" list="datalistOptions" id="local" placeholder="Localização">
            <datalist id="datalistOptions">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.CityAndState"></option>
                }
            </datalist>

            <select id="categoria" class="form-select" asp-items="Model.Categories">
                <option value="" hidden selected>Categoria</option>
            </select>
            <select id="valor" class="form-select">
                <option value="0" hidden selected>Valor</option>
                <option value="1">Grátis</option>
                <option value="2">Pago</option>
            </select>
        </div>
    </div>
</div>