<div class="col-2 m-0 p-0">
    <ul class="nav-manager m-0 p-0 ">
        <li class="nav-item-manager"><a class="nav-link-manager" asp-controller="UserManager" asp-action="Index">Geral</a></li>
        <li class="nav-item-manager"><a class="nav-link-manager" asp-controller="UserManager" asp-action="MyEvents">Meus Eventos</a></li>
        <li class="nav-item-manager"><a class="nav-link-manager" asp-controller="UserManager" asp-action="Dados">Dados</a></li>
    </ul>
</div>