@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div class="p-4">
    <h1 class="title-identity text-light mb-4">Sua conta</h1>
    <div class="row w-100 p-0 m-0 pb-sm-5">
        <div class="col-md-3 p-0">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 p-0 ps-sm-5">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
