@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="bg-secondary">
    <ul class="nav-manager flex-column">
        <li class="nav-item-manager"><a class="nav-link-manager" id="profile" asp-page="./Index">Perfil</a></li>
        <li class="nav-item-manager"><a class="nav-link-manager " id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item-manager"><a class="nav-link-manager " id="change-password"
                asp-page="./ChangePassword">Senha</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login"
                    class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
                asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="nav-item-manager"><a class="nav-link-manager" id="personal-data" asp-page="./PersonalData">Seus
                Dados</a></li>
    </ul>
</div>
