@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 p-0 m-0">
        <form class="bg-light p-4" id="change-password-form" method="post">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form mb-3">
                <div class="form-identity">
                    <i class="bi bi-key-fill"></i>
                    <input asp-for="Input.OldPassword" class="form-control input-identity" autocomplete="username"
                        aria-required="true" />
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger text-validation"></span>
            </div>
            <div class="form mb-3">
                <div class="form-identity">
                    <i class="bi bi-key-fill"></i>
                    <input asp-for="Input.NewPassword" class="form-control input-identity" autocomplete="username"
                        aria-required="true" />
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger text-validation"></span>
            </div>
            <div class="form mb-3">
                <div class="form-identity">
                    <i class="bi bi-key-fill"></i>
                    <input asp-for="Input.ConfirmPassword" class="form-control input-identity" autocomplete="username"
                        aria-required="true" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-validation"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-dark">Salvar Senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
