@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 p-0 m-0">
        <form class="bg-light p-4" id="email-form" method="post">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form">
                    <div class="form-identity " disabled>
                        <i class="bi bi-envelope"></i>
                        <input asp-for="Email" class="form-control input-identity " disabled />
                        <span class="badge bg-success">Email Confirmado</span>
                    </div>
                </div>
            }
            else
            {
                <div class="form">
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail"
                        class="btn btn-link">Mandar email de Verificação</button>
                </div>
            }
            <div class="form my-3">
                    <div class="form-identity ">
                        <i class="bi bi-envelope"></i>
                        <input asp-for="Input.NewEmail" class="form-control input-identity " autocomplete="off" aria-required="true" />
                    </div>
                </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail"
                class="w-100 btn btn-lg btn-primary">Mudar Email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
