@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 p-0 m-0">
        <form class="bg-light p-4" id="profile-form" method="post">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form">
                    <div class="form-identity ">
                        <i class="bi bi-person-fill"></i>
                        <input asp-for="Username" class="form-control input-identity " disabled/>
                    </div>
                </div>
            <div class="form">
                    <div class="form-identity ">
                        <i class="bi bi-phone"></i>
                        <input asp-for="Input.PhoneNumber" class="form-control input-identity " />
                    </div>
                </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
