@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Seus Dados";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div class="row w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 p-0 m-0">
        <form class="bg-light p-4 " id="download-data" asp-page="DownloadPersonalData" method="post">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
            <p>Sua conta contém dados pessoais que você nos forneceu. Esta página permite que você baixe ou exclua esses dados.</p>
            <p>
                <strong>A exclusão desses dados removerá permanentemente sua conta, e isso não poderá ser recuperado.</strong>
            </p>
            <div>
                <button class="btn btn-primary" type="submit">Baixar Dados</button>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Deletar Dados</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
