
<div class="w-100 vh-100 d-flex align-items-center justify-content-center">
    <div class="mt-5 d-flex flex-column align-items-center text-white">
        <h4>Tem certeza que voce deseja excluir seusm dados?</h4>
        <div class="col">
            <a class="btn btn-secondary mb-1 btn-sm" asp-controller="UserManager" asp-action="UserData">Voltar</a>
            <a id="delete" asp-controller="UserManager" asp-action="DeletePersonalData" method="delete"  class="btn btn-danger">Confirmar</a>
        </div>
    </div>

</div>