<h1>User Manager</h1>
<div class="d-flex gap-4 text-white">
    <partial name="_UserManagerNavPartial" />
    <div class="w-100 bg-secondary">
        <form class="p-4 ">
            <div class="row">
                <div class="col-4 form-group">
                    <label class="form-label">UserName</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-4 form-group">
                    <label class="form-label">Email</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-4 form-group">
                    <label class="form-label">Telefone</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
            </div>
            <div class="row">
                <div class="d-flex mt-3">
                    <h3 class="text-primary">Social</h3>
                </div>
                <div class="col-12 form-group">
                    <label class="form-label">Picture</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-6 form-group">
                    <label class="form-label">Primeiro Nome</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-6 form-group">
                    <label class="form-label">Ultimo Nome</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="d-flex mt-3">
                    <h4 class="text-primary">Endereço</h4>
                </div>
                <div class="col-8 col-md-5 form-group">
                    <label class="form-label">Nome da Rua</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-4 col-md-2 form-group">
                    <label class="form-label">Numero</label>
                    <input class="form-control form-control-sm">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-12 col-md-5 form-group">
                    <label class="form-label">Bairro</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-4 col-md-3 form-group">
                    <label class="form-label">Cep</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-4 col-md-6 form-group">
                    <label class="form-label">Cidade</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-4 col-md-3 form-group">
                    <label class="form-label">UF</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label class="form-label">Complemento</label>
                    <input class="form-control">
                    <span class="text-danger">erro</span>
                </div>
            </div>
        </form>
    </div>
</div>
