<h1>User Manager</h1>
<div class="d-flex gap-4 text-white">
    <partial name="_UserManagerNavPartial" />
    <div class="w-100 bg-secondary text-white py-3">
        <div class="container ">
            <div class="content">
                <div>
                    <header class="px-3">
                        <h6 class="text-primary fs-3 m-0 p-0">Meus Eventos</h6>
                    </header>
                    <div class="row p-3">
                        <a class="col-4 event-thumb-list mb-2" city-event="Jau,SP">
                            <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                            <content class="event-thumb-info">
                                <span class="event-thumb-info-title">Baile da favorita</span>
                                <span class="event-thumb-info-local">Jau,SP</span>
                                <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                            </content>
                        </a>

                        <a class="col-4 event-thumb-list" city-event="Jau,SP">
                            <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                            <content class="event-thumb-info">
                                <span class="event-thumb-info-title">Baile da favorita</span>
                                <span class="event-thumb-info-local">Jau,SP</span>
                                <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                            </content>
                        </a>
                        <a class="col-4 event-thumb-list" city-event="Jau,SP">
                            <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                            <content class="event-thumb-info">
                                <span class="event-thumb-info-title">Baile da favorita</span>
                                <span class="event-thumb-info-local">Jau,SP</span>
                                <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                            </content>
                        </a>
                        <a class="col-4 event-thumb-list" city-event="Jau,SP">
                            <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                            <content class="event-thumb-info">
                                <span class="event-thumb-info-title">Baile da favorita</span>
                                <span class="event-thumb-info-local">Jau,SP</span>
                                <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                            </content>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>