/* HEADER */
.header{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

/*INFO */
.info-container {
  text-align: start;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  justify-content: center;
}

.info-container-description {
  position: relative;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

#info-container-button{
  position: relative;
}

/*SEARCH ------------------------- */

.search-container {
  text-align: start;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.search-container-title {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(255, 200, 0);
}

.form-control {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
  border: 0;
}
.form-select {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
  border: 0;
}

/* BANNER */

.info-container-banner {
  position: relative;
  width: 100%;
}

.info-banner{
  width: 100%;
  position: absolute;
  top: 1rem;
  z-index: 2;
}


