@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="row justify-content-center w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 col-lg-6 p-0 m-0 m-sm-5">
        <div class="bg-light p-4">
            <h1 class="title-identity text-danger">@ViewData["Title"]</h1>
            <p class="subtitle-identity text-danger mb-4">Você não tem acesso a esta página.</p>
            <button class="btn btn-danger text-light" onclick="history.back()">Voltar</button>
        </div>
    </div>
</div>