@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
}

<div class="row justify-content-center w-100 p-0 m-0 pb-sm-5 text-white">
    <div class="col-12 col-lg-6 m-0 position-relative" style="z-index: -10;">
        <img class="banner-identity" src="~/assets/imgs/back-login.jpg" alt="" srcset="">
    </div>
    <div class="col-12 col-lg-5 p-0 m-0 m-sm-5">
        <section>
            <form method="post" class="bg-dark p-4">
                <h1 class="title-identity">@ViewData["Title"]</h1>
                <h1 class="subtitle-identity mb-4">Digite seu email</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger text-validation"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg bg-primary fw-bold">Resetar senha</button>
            </form>
        </section>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
