@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu a senha?";
}
<div class="row justify-content-center w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 col-lg-6 p-0 m-0 m-sm-5">
        <div class="bg-light p-4">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
            <p>
                Por favor, verifique seu email para resetar sua senha.
            </p>
        </div>
    </div>
</div>