@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar Conta";
}
<div class="row justify-content-center w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 col-sm-6 m-0 position-relative" style="z-index: -10;">
        <img class="banner-identity" src="~/assets/imgs/back-login.jpg" alt="" srcset="">
    </div>
    <div class="col-12 col-sm-5 p-0 m-0 m-sm-5">
        <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div class="px-4 pt-4 pb-2 bg-light">
                    <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form mb-3">
                        <div class="form-identity">
                            <i class="bi bi-envelope"></i>
                            <input asp-for="Input.Name" class="form-control input-identity" autocomplete="username"
                                aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Name" class="text-danger text-validation"></span>
                    </div>
                    <div class="form mb-3">
                        <div class="form-identity">
                            <i class="bi bi-envelope"></i>
                            <input asp-for="Input.Email" class="form-control input-identity" autocomplete="username"
                                aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger text-validation"></span>
                    </div>
                    <div class="form mb-3">
                        <div class="form-identity">
                            <i class="bi bi-key-fill"></i>
                            <input asp-for="Input.Password" class="form-control input-identity"
                                autocomplete="new-password" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger text-validation"></span>

                    </div>
                    <div class="form mb-3">
                        <div class="form-identity">
                            <i class="bi bi-key-fill"></i>
                            <input asp-for="Input.ConfirmPassword" class="form-control input-identity"
                                autocomplete="new-password" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-validation"></span>
                    </div>
                    <button id="registerSubmit" type="submit"
                        class="w-100 btn btn-lg bg-primary fw-bold">Cadastrar</button>

                    <p class="input-identity-terms">
                        Ao me cadastrar, concordo com os <a href="#">Termos de uso</a> da Moment
                    </p>
                </div>
                <div>
                    <p class="m-0 bg-dark p-3 login-footer text-center">
                        Já Possui Conta? <a asp-page="./Login">Faça Login!</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
