@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha Resetada";
}

<div class="row justify-content-center w-100 p-0 m-0 pb-sm-5">
    <div class="col-12 col-lg-6 p-0 m-0 m-sm-5">
        <div class="bg-light p-4">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>
            <p class="fw-bold">
                Sua senha mudou, clique aqui para <a class="link link-accent"asp-page="./Login">Entrar</a>.
            </p>
        </div>
    </div>
</div>