@{
    ViewData["Title"] = "Seja Produtor";
}

<header class="position-relative">
    <div class="position-absolute start-50 top-50 translate-middle col text-center text-light" style="z-index: 2;">
        <h1>Produza eventos e conteúdos.</h1>
        <h1>Crie um Agora!</h1>
        <p>Junte-se à maior plataforma do Brasil para criar diferentes jeitos de viver.</p>
        <button asp-controller="Admin" asp-action="CreateEvent" class="btn btn-primary">Comece a criar</button>
    </div>
    <div style="opacity: 0.3;">
        <img class="img-fluid" src="~/assets/imgs/event-index.jpg" alt="" srcset="">
    </div>

</header>

<div class="text-center bg-black content-index p-4">
    <h1 class="text-white fw-bold mb-5">Quanto custa?</h1>
    <div class="d-flex justify-content-center gap-3">
        <div class="card card-moment">
            <div class="content">
                <p class="badge badge-moment-free ">Criações gratuitas</p>
                <h1 class="title">Gratuito</h1>
                <p class="info"></p>
                <p class="subtitle">Para produtores com eventos gratuitos</p>
            </div>
            <div>
                <a asp-controller="Admin" asp-action="CreateEvent" class="btn btn-primary">Comece Agora</a>
            </div>

        </div>
        <div class="card card-moment">
            <div class="content">
                <p class="badge badge-moment-paid">Criações pagas</p>
                <h1 class="title">Taxa de 10%</h1>
                <p class="info">Minimo de R$1,50 sobre a venda</p>
                <p class="subtitle">Para produtores com eventos gratuitos</p>
            </div>
            <div>
                <a asp-controller="Admin" asp-action="CreateEvent" class="btn btn-primary">Comece Agora</a>
            </div>

        </div>
    </div>
</div>