@model Moment.Models.EntityDto.EventEditView
@{
    ViewData["Title"] = "Editar Evento";
}

<div>
    <form class="m-4" enctype="multipart/form-data" asp-controller="Event" asp-action="EditEvent" method="post">
        <div class="px-4 pt-4 pb-2 bg-dark text-white">
            <h1 class="title-identity mb-4">@ViewData["Title"]</h1>

            <div class="form-group" hidden>
                <input class="form-check-input" asp-for="Id">
                <label class="form-check-label" asp-for="Id">
                </label>
            </div>

            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" value="" asp-for="IsFree">
                <label class="form-check-label" asp-for="IsFree">
                </label>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Resume" class="form-label"></label>
                <input asp-for="Resume" class="form-control">
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="IdCategory" class="form-label mb-2"></label>
                <select asp-for="IdCategory" class="form-control" asp-items="Model.Categories">
                </select>
            </div>

            <div class="row mb-2">

                <div class="col form-group">
                    <label asp-for="StartDate" class="form-label"></label>
                    <input asp-for="StartDate" class="form-control"></input>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="col form-group">
                    <label asp-for="EndDate" class="form-label"></label>
                    <input asp-for="EndDate" class="form-control"></input>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group mb-2">

                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>


            <div class="row mb-2">
                <div class="col-12 form-group">
                    <label asp-for="LocalNameAddress" class="form-label"></label>
                    <input asp-for="LocalNameAddress" class="form-control"></input>
                    <span asp-validation-for="LocalNameAddress" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="ZipCodeAddress" class="form-label"></label>
                    <input asp-for="ZipCodeAddress" class="form-control cep"></input>
                    <span asp-validation-for="ZipCodeAddress" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="StreetAddress" class="form-label"></label>
                    <input asp-for="StreetAddress" class="form-control"></input>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="col-2 form-group">
                    <label asp-for="NumberAddress" class="form-label"></label>
                    <input asp-for="NumberAddress" class="form-control"></input>
                    <span asp-validation-for="NumberAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col form-group">
                    <label asp-for="DistrictAddress" class="form-label"></label>
                    <input asp-for="DistrictAddress" class="form-control"></input>
                    <span asp-validation-for="DistrictAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col form-group">
                    <label asp-for="CityAddress" class="form-label"></label>
                    <input asp-for="CityAddress" class="form-control"></input>
                    <span asp-validation-for="CityAddress" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="StateAddress" class="form-label"></label>
                    <input asp-for="StateAddress" class="form-control"></input>
                    <span asp-validation-for="StateAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ComplementAddress" class="form-label"></label>
                <input asp-for="ComplementAddress" class="form-control"></input>
                <span asp-validation-for="ComplementAddress" class="text-danger"></span>
            </div>

            <div class="row mb-2">
                <div class="col form-group">
                    <label asp-for="ThumbnailPath" class="form-label"></label>
                    <input class="form-control" type="file" asp-for="ThumbnailPath"
                        onchange="readImg(this,'Thumbnail-Preview')" accept=".jpg,.jpeg,.png,.gif,.jfif">
                    <img id="Thumbnail-Preview" src="" alt="" srcset="">
                </div>
                <div class="col form-group">
                    <label asp-for="BackgroundPath" class="form-label"></label>
                    <input class="form-control" type="file" asp-for="BackgroundPath"
                        onchange="readImg(this,'Background-Preview')" accept=".jpg,.jpeg,.png,.gif,.jfif">
                    <img id="Background-Preview" src="" alt="" srcset="">
                </div>
            </div>


            <div class="form-group mb-2">
                <label asp-for="Terms" class="form-label"></label>
                <textarea asp-for="Terms" class="form-control"></textarea>
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>


        </div>

        <input class="col-10 btn btn-primary btn-lg btn-block w-100 rounded-0" type="submit" value="Salvar Evento">

    </form>
</div>

<div class="modal fade" id="loading-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content col-1 border-0 p-3 modal-dialog-centered">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>

@section Scripts {
<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $('input#ZipCodeAddress').blur(() => {
        let cep = $('input#ZipCodeAddress').val().replace('-', '');
        console.log(cep);
        if (cep != '') {

            $('#loading-modal').modal('show');

            $.getJSON(`https://viacep.com.br/ws/${cep}/json/?callback=?`, dados => {

                if (!('erro' in dados)) {

                    setTimeout(() => {
                        $('#StreetAddress').val(dados.logradouro);
                        $('#DistrictAddress').val(dados.bairro);
                        $('#CityAddress').val(dados.localidade);
                        $('#StateAddress').val(dados.uf);
                        $('#loading-modal').modal('hide');
                    }, 1000);

                }
                else {
                    alert('CEP não encontrado.');
                }
            });
        }
        else {

            $('#StreetAddress').val('');
            $('#DistrictAddress').val('');
            $('#CityAddress').val('');
            $('#StateAdress').val('');
        }
    });

    function readImg(input, id) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $(id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        language: 'pt_BR',
    });
</script>
}