@{
    ViewData["Title"] = "Index";
}

<header class="position-relative">
    <div class="position-absolute start-50 top-50 translate-middle col text-center text-light">
        <h1>Produza eventos e conteúdos.</h1>
        <h1>Crie um Agora!</h1>
        <p>Junte-se à maior plataforma do Brasil para criar diferentes jeitos de viver.</p>
        <button class="btn btn-primary">Comece a criar</button>
    </div>
    <div style="opacity: 0.3;">
        <img class="img-fluid" src="~/assets/imgs/event-index.jpg" alt="" srcset="">
    </div>

</header>

<div class="text-center bg-white content-index pt-4">
    <h1>Quanto custa?</h1>
    <div class="d-flex justify-content-center gap-3">
        <div class="card ">
            <p class="badge">Criações gratuitas</p>
            <h1>Gratuito</h1>
            <p>Para produtores com eventos gratuitos</p>
            <button>Comece Agora</button>
        </div>
        <div class="card">
            <p class="badge">Criações pagas</p>
            <h1>Taxa de 10%</h1>
            <p>Minimo de R$1,50 sobre a venda</p>
            <p>Para produtores com eventos gratuitos</p>
            <button>Comece Agora</button>
        </div>
    </div>
</div>