@model Moment.Models.EntityDto.EventSearchView

<div class="bg-black">
    <header class="container">
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Ex. 'Festa do Peão'" aria-label="Username"
                aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <h2 class="title-page text-white">"Festa do peao"</h2>
        <a class="subtitle-page text-white" data-bs-toggle="modal" data-bs-target="#modal-localization">
            em <span> Qualquer Lugar <i class="bi bi-geo-alt-fill text-primary"></i> </span>
        </a>
    </header>
</div>
<div class="bg-dark text-white">
    <div class="container">
        <header class="d-flex align-items-center">
            <p class="m-0 p-0">0 Eventos Encontrados</p>
            <div class="flex-grow-1"></div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm px-0">Ordernar por:</label>
                <div class="col-sm-8">
                    <select type="email" class="form-control form-control-sm" id="colFormLabelSm"
                        placeholder="col-form-label-sm">
                        <option>DGdgg</option>
                        <option>DGdgg</option>
                        <option>DGdgg</option>
                        <option>DGdgg</option>

                    </select>
                </div>
            </div>
        </header>
        <div class="content">
            <div>
                <header class="list-thumb-title">
                    <h6></h6>
                </header>
                <div id="list-thumb-content" class="list-thumb-content-wrap hidden-scroll">

                    <a class="event-thumb" city-event="Macatuba,SC">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SC" asp-controller="Home" asp-action="EventPage">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SC">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SC">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SC">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SC">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SC">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>
                    <a class="event-thumb" city-event="Macatuba,SP">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-localization" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog text-white">
        <div class="modal-content  bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5 " id="exampleModalLabel">Escolha Localização</h1>
                <button type="button" class="btn-close bi bi-x-square-fill fs-5" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-4">
                    <input type="text" class="form-control" placeholder="Ex. 'São Paulo'" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </div>

                <div id="modal-cities" class="list-group">
                    @foreach (var city in Model.Cities)
                    {
                        <button onclick="filterCity(this.value)" value="@city.CityAndState()"
                        class="list-group-item list-group-item-action" data-bs-dismiss="modal">
                            @city.CityAndState()
                        </button>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    function filterCity(city) {
        console.log(city);
        let thumbs = $('#list-thumb-content').children('a').toArray();
        thumbs.forEach( item =>{
            
            if(item.getAttribute('city-event') === city){
                console.log(item.getAttribute('city-event'));
                item.style.display = 'block';
            }else{
                item.style.display = 'none';
            }
        });
    }
</script>
}