<div class="bg-black">
    <div class="mb-3 position-relative">
        <div class="container position-absolute" style="z-index: 2; left:100px; top:25%;">
            <div class="col col-sm-6">
                <h1 class="title-page text-white">@ViewBag.Pesquisa</h1>
                <p class="subtitle-search-page">em, Macatuba-SP</p>
                <p class="resume-search-page mt-3">Encontrar os amigos na balada, curtir música boa em um festival ou ver o show do seu artista favorito na sua cidade: escolha sua festa na Moment e aproveite!</p>
            </div>
        </div>
        <div class="opacity-5">
            <img class="col image-header" src="~/assets/imgs/festaeshows.jpg">
        </div>
    </div>
    <div class="container">
        <div>
            <header class="list-thumb-title">
                <h6>Em alta</h6>
            </header>
            <div id="list-thumb-content" class="list-thumb-content hidden-scroll">
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb" asp-controller="Home" asp-action="EventPage">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>

            </div>
        </div>

        <div>
            <header class="list-thumb-title">
                <h6>Em alta</h6>
            </header>
            <div id="list-thumb-content" class="list-thumb-content hidden-scroll">
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb" asp-controller="Home" asp-action="EventPage">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>
                <a class="event-thumb">
                    <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                    <content class="event-thumb-info">
                        <span class="event-thumb-info-title">Baile da favorita</span>
                        <span class="event-thumb-info-local">Tantrarosa, Garopada - SC</span>
                        <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                    </content>
                </a>

            </div>
        </div>
    </div>
    <div class="container d-flex flex-wrap">
        <div class="d-flex align-items-center gap-2 col-4 mb-3 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
    </div>
</div>